.container{
    width: fit-content;
    height: fit-content;
    background-color: yellow;
    border-radius: 10%;
    text-align: center;
}
img{
    padding: 20px 10px;
display: block;
margin: auto;
border-radius: 15%;
}
p{
    padding: 20px 0px;
    
}
body{
    display: flex;
justify-content: center;
align-items: center;

}