.container{
    width: fit-content;
    height: fit-content;
    background-color:cyan;
    border-radius: 10%;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    opacity: 0.5;

}
img{
    padding: 20px 20px;
}
p{
    padding: 20px 20px;
}
body{
    border: 1px solid black;
    display: inline-block;
}
.container:hover{
opacity: 1;
}
