h1{

    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace; 
   text-align: center ;
   font-size: xx-large;
}
img{
    height: 200px;
    width: 500px;
    
}
.box1{
    display: flex;
    justify-content: center;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}